<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/base :: parent(~{::#content}, ~{::title})}"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="content">
        <div class="mb-3">
            <div th:if="${msgSuccess}" th:text="${msgSuccess}" class="px-2 py-1 border border-emerald-700 bg-emerald-300 text-emerald-500"></div>
            <div th:if="${msgError}" th:text="${msgError}" class="px-2 py-1 border border-red-700 bg-red-300 text-red-500"></div>
        </div>
        <form th:action="@{'/auth/login'}" method="post" th:object="${requestLoginDto}">
            <div class="mb-3">
                <label class="text-md text-violet-500 font-semibold" for="username">username</label>
                <input
                        type="text"
                        id="username"
                        class="px-2 py-1 rounded-md border border-slate-200"
                        th:field="*{username}"
                >
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-red-500 text-sm"></div>
            </div>
            <div class="mb-3">
                <label class="text-md text-violet-500 font-semibold" for="password">Password</label>
                <input
                        type="text"
                        id="password"
                        class="px-2 py-1 rounded-md border border-slate-200"
                        th:field="*{password}"
                >
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-500 text-sm"></div>
            </div>
            <button class="px-2 py-1 rounded-md bg-violet-500 hover:ring hover:ring-violet-500">Login</button>
        </form>
    </div>
</body>
</html>