<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
    <nav th:fragment="navbar" class="container">
       <div class="grid md:grid-cols-3">
           <div class="max-w-fit h-10 rounded-full font-bold text-2xl uppercase text-slate-400 bg-indigo-800">
               <span>UniBook</span>
           </div>
           <ul class="flex space-x-2 items-center justify-center list-none">
              <li class="p-2">
                  <a th:href="@{'/home'}" class="no-underline text-md text-slate-300">Home</a>
              </li>
               <li class="p-2">
                   <a th:href="@{'/about'}" class="no-underline text-md text-slate-300">About</a>
               </li>
               <li class="p-2">
                   <a th:href="@{'/product'}" class="no-underline text-md text-slate-300">Product</a>
               </li>
           </ul>
           <div class="flex space-x-2 items-center justify-center">
               <a th:href="@{'/auth/register'}" class="no-underline text-md text-slate-300">Register</a>
               <a th:href="@{'/auth/login'}" class="no-underline text-md text-slate-300">Login</a>
           </div>
       </div>
    </nav>
</body>
</html>